body {
  background-image: url("https://i.imgur.com/9wkAHHt.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: white;
}

.row {
  opacity: 0.5;
}
.container {
  width: 95%;
}

.container h2{
  font-size: 20px;
  color: black;
}
.container li {
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
}
.container p{
  font-size: 13px;
}


.story {
  border: 2px solid white;
  padding-left: 15%;
  padding-right: 15%;
  margin-left: 7%;
  margin-right: 7%;

  background-color: white;
  color: black;
  font-weight: bold;
  margin-top: 320px;
  opacity: 0.5;
}

#top {
  opacity: 0.6;
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 55px;
}


.logos img{
    border: 3px solid transparent;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    opacity: 0.7;
  }
