body {
  background-image: url("http://i.imgur.com/RFFiWiZ.gif");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.well {
  width: 35%;
  background-color: black;
  border: 1px solid transparent;
}
.container {
  float: left;
  opacity: 0.4;
}

.panel h2{
  font-family: 'Gochi Hand', cursive;
  font-size: 25px;
  color: black;
}
.panel h3{
  font-family: 'Gochi Hand', cursive;
  color: black;
}
.panel li{
  font-size: 17px;
  font-family: 'Gochi Hand', cursive;
  color: black;
}
