body{
  background-image: url("http://i.imgur.com/AMHJQWe.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.title h1 {
  float: left;
}

.title img {
  width: 150px;
  height: 150px;
  float: left;
}
